name: Go Checks

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  Golangci-Lint:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Go
      - uses: actions/checkout@v4
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"
          cache: false

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v4
        with:
          version: "latest"
          args: "vultr/..."

  Go-Fmt:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Go
      - uses: actions/checkout@v4
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Run fmt
        run: |
          gofmt_files=$(gofmt -l vultr)
          if [[ -n ${gofmt_files} ]]; then
              echo 'gofmt needs running on the following files:'
              echo "${gofmt_files}"
              exit 1
          fi
          exit 0
